<template id="tmplLastTran">
    <div class="form-lastTrans">
        <div class="head-lastTrans" id="head-lastTrans">
            <div class="head-text">
                <h4 class="h4-head lastTrans">last three transactions</h4>
            </div>
        </div>

        <div class="transactions">
            <div id="lastTrans-Wait" class="lastTrans-Wait">Wait...</div>
            <script type="text/javascript">
                lastTrans();
            </script>
            <table class="tableLastTrans" id="tableLastTrans"/>
        </div>
    </div>
</template>